<a href="https://colab.research.google.com/github/AlvisSu/20220702-python-lesson/blob/main/20220820.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 建立Python虛擬環境 venv
與電腦原本的Python隔開
* python -m venv myvenv
* activate
* Scripts\activate (啟動虛擬環境)
* deactivate
* pip freeze (套件版本)
* pip freeze > requirements.txt (儲存套件版本)


不同套件可能要使用不同版本的Python

https://www.dataquest.io/blog/a-complete-guide-to-python-virtual-environments/

# 建立第二個虛擬環境
* 將套件版本放進資料夾
* pip install -r requirements.txt

# Git使用
https://github.com/victorgau/khpy_git_intro

pycourse

https://github.com/victorgau/pycourse

# 使用conda建立虛擬環境

https://github.com/victorgau/khpy_python_basics/blob/main/%E4%BD%BF%E7%94%A8conda%E5%BB%BA%E7%AB%8B%E8%99%9B%E6%93%AC%E7%92%B0%E5%A2%83.md

# RFM教學

https://github.com/victorgau/khpy_marketing_analytics_intro

# RFM分析

使用 UCI Online Retail 資料集

* [https://archive.ics.uci.edu/ml/datasets/Online+Retail](https://archive.ics.uci.edu/ml/datasets/Online+Retail)

參考資料：

* https://en.wikipedia.org/wiki/RFM_(market_research)

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

--2022-08-20 02:43:18--  https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/x-httpd-php]
Saving to: ‘Online Retail.xlsx’

Online Retail.xlsx  100%[===================>]  22.62M  12.1MB/s    in 1.9s

2022-08-20 02:43:20 (12.1 MB/s) - ‘Online Retail.xlsx’ saved [23715344/23715344]

# 讀取資料

In [2]:
import pandas as pd
import numpy as np

In [3]:
Retail_df = pd.read_excel("Online Retail.xlsx")

In [4]:
Retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
#可以看到有沒有資料缺失
Retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
#加入新的欄位
Retail_df['amount'] = Retail_df['Quantity']*Retail_df['UnitPrice']

In [9]:
Retail_df.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.3

In [8]:
Retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   amount       541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB

In [10]:
Retail_df['InvoiceDate'].min()

Timestamp('2010-12-01 08:26:00')

In [11]:
Retail_df['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00')

## 刪除缺失值

### 刪除CustomerID缺失值 (方法一)

In [12]:
df1 = Retail_df.dropna(subset=["CustomerID"])

In [13]:
len(df1)

406829

### 刪除CustomerID缺失值 (方法二)

In [53]:
df2 = Retail_df[Retail_df['CustomerID'].notnull()]

In [55]:
ref_date = df2['InvoiceDate'].max()

In [56]:
ref_date

Timestamp('2011-12-09 12:50:00')

#計算R,F,M值

In [ ]:
# 計算最近一次購買時間
recency = df['InvoiceDate'].groupby(df['CustomerID']).max()
# 計算購買的次數
frequency = df['InvoiceDate'].groupby(df['CustomerID']).count()
# 計算購買的金額
monetary = df['amount'].groupby(df['CustomerID']).sum()

#DataFrame簡單操作

In [15]:
import numpy as np
import pandas as pd

##產生隨機資料

In [20]:
#亂數從30到100，10列4行
data = np.random.randint(30, 101, (10, 4))

In [21]:
data

array([[ 97,  99,  64,  82],
       [ 52,  64,  33,  44],
       [ 95,  96,  45,  35],
       [ 70,  70,  32,  91],
       [ 43,  42,  50,  31],
       [ 38,  99,  75,  39],
       [ 87,  57, 100,  76],
       [ 53,  70,  68,  45],
       [ 95,  79,  63,  93],
       [ 99,  81,  35,  84]])

##轉換成float

In [28]:
data = data.astype(float)

In [29]:
for i in range(5):
  x = np.random.randint(0,10)
  y = np.random.randint(0,4)
  data[x,y] = np.NaN

##轉換成DataFrame

In [30]:
df = pd.DataFrame(data)

In [31]:
df

      0     1      2     3
0  97.0  99.0   64.0  82.0
1  52.0  64.0    NaN  44.0
2  95.0  96.0   45.0   NaN
3  70.0  70.0   32.0  91.0
4  43.0  42.0   50.0  31.0
5  38.0  99.0   75.0   NaN
6  87.0  57.0  100.0  76.0
7  53.0  70.0    NaN  45.0
8  95.0  79.0   63.0  93.0
9  99.0  81.0   35.0   NaN

In [32]:
df.columns = ['國文','英文','數學','理化']

In [35]:
df

       國文    英文     數學    理化
詹忠翰  97.0  99.0   64.0  82.0
王柔汝  52.0  64.0    NaN  44.0
王舜陽  95.0  96.0   45.0   NaN
鄭宇士  70.0  70.0   32.0  91.0
楊雅希  43.0  42.0   50.0  31.0
張慧儒  38.0  99.0   75.0   NaN
陳立盈  87.0  57.0  100.0  76.0
陳博奇  53.0  70.0    NaN  45.0
王文婷  95.0  79.0   63.0  93.0
林宛育  99.0  81.0   35.0   NaN

In [34]:
df.index = ["詹忠翰","王柔汝","王舜陽","鄭宇士","楊雅希","張慧儒","陳立盈","陳博奇","王文婷","林宛育"]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 詹忠翰 to 林宛育
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      10 non-null     float64
 1   英文      10 non-null     float64
 2   數學      8 non-null      float64
 3   理化      7 non-null      float64
dtypes: float64(4)
memory usage: 400.0+ bytes

##缺失值處理(刪去)
* dropna

In [38]:
df.dropna()

       國文    英文     數學    理化
詹忠翰  97.0  99.0   64.0  82.0
鄭宇士  70.0  70.0   32.0  91.0
楊雅希  43.0  42.0   50.0  31.0
陳立盈  87.0  57.0  100.0  76.0
王文婷  95.0  79.0   63.0  93.0

In [41]:
df.dropna(subset=['數學'])

       國文    英文     數學    理化
詹忠翰  97.0  99.0   64.0  82.0
王舜陽  95.0  96.0   45.0   NaN
鄭宇士  70.0  70.0   32.0  91.0
楊雅希  43.0  42.0   50.0  31.0
張慧儒  38.0  99.0   75.0   NaN
陳立盈  87.0  57.0  100.0  76.0
王文婷  95.0  79.0   63.0  93.0
林宛育  99.0  81.0   35.0   NaN

In [42]:
df['數學'].notnull()

詹忠翰     True
王柔汝    False
王舜陽     True
鄭宇士     True
楊雅希     True
張慧儒     True
陳立盈     True
陳博奇    False
王文婷     True
林宛育     True
Name: 數學, dtype: bool

In [44]:
df[df['數學'].notnull()]

       國文    英文     數學    理化
詹忠翰  97.0  99.0   64.0  82.0
王舜陽  95.0  96.0   45.0   NaN
鄭宇士  70.0  70.0   32.0  91.0
楊雅希  43.0  42.0   50.0  31.0
張慧儒  38.0  99.0   75.0   NaN
陳立盈  87.0  57.0  100.0  76.0
王文婷  95.0  79.0   63.0  93.0
林宛育  99.0  81.0   35.0   NaN

In [45]:
df.dropna(axis=1)

       國文    英文
詹忠翰  97.0  99.0
王柔汝  52.0  64.0
王舜陽  95.0  96.0
鄭宇士  70.0  70.0
楊雅希  43.0  42.0
張慧儒  38.0  99.0
陳立盈  87.0  57.0
陳博奇  53.0  70.0
王文婷  95.0  79.0
林宛育  99.0  81.0

##缺失值處理(填補)
* fillna

In [46]:
#用平均值填補
df['理化'].fillna(value=df['理化'].mean())

詹忠翰    82.0
王柔汝    44.0
王舜陽    66.0
鄭宇士    91.0
楊雅希    31.0
張慧儒    66.0
陳立盈    76.0
陳博奇    45.0
王文婷    93.0
林宛育    66.0
Name: 理化, dtype: float64

In [48]:
df.fillna(method='backfill')

       國文    英文     數學    理化
詹忠翰  97.0  99.0   64.0  82.0
王柔汝  52.0  64.0   45.0  44.0
王舜陽  95.0  96.0   45.0  91.0
鄭宇士  70.0  70.0   32.0  91.0
楊雅希  43.0  42.0   50.0  31.0
張慧儒  38.0  99.0   75.0  76.0
陳立盈  87.0  57.0  100.0  76.0
陳博奇  53.0  70.0   63.0  45.0
王文婷  95.0  79.0   63.0  93.0
林宛育  99.0  81.0   35.0   NaN

#簡單資料分析

In [50]:
df['國文']<60

詹忠翰    False
王柔汝     True
王舜陽    False
鄭宇士    False
楊雅希     True
張慧儒     True
陳立盈    False
陳博奇     True
王文婷    False
林宛育    False
Name: 國文, dtype: bool

In [51]:
#將布林數丟回
df[df['國文']<60]

       國文    英文    數學    理化
王柔汝  52.0  64.0   NaN  44.0
楊雅希  43.0  42.0  50.0  31.0
張慧儒  38.0  99.0  75.0   NaN
陳博奇  53.0  70.0   NaN  45.0

In [52]:
df[(df['國文']<60)&(df['英文']<60)]

       國文    英文    數學    理化
楊雅希  43.0  42.0  50.0  31.0

#Groupby

In [60]:
df5 = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [62]:
df5.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [63]:
df5.groupby(['Animal']).count()

        Max Speed
Animal
Falcon          2
Parrot          2

In [64]:
df5.groupby(['Animal']).sum()

        Max Speed
Animal
Falcon      750.0
Parrot       50.0

In [65]:
groups = df5.groupby(['Animal'])

In [66]:
groups.group_keys

True