<a href="https://colab.research.google.com/github/AlvisSu/20220702-python-lesson/blob/main/20220806.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMD指令

* start. 打開目錄
* dir 目錄內容
* mkdir 新增資料夾
* rmdir 刪除資料夾
* cd 進入
* cd .. 上一層
* ipconfig
*

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf

In [9]:
df = yf.download('TSLA')

[*********************100%***********************]  1 of 1 completed

In [10]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...
2022-08-01,903.830017,935.630005,885.000000,891.830017,891.830017,39014300
2022-08-02,882.010010,923.500000,878.000000,901.760010,901.760010,31859200
2022-08-03,915.000000,928.650024,903.450012,922.190002,922.190002,26697000
2022-08-04,933.000000,940.820007,915.000000,925.900024,925.900024,24085400
2022-08-05,908.010010,913.820007,856.630005,864.510010,864.510010,37655300

In [12]:
df = df.reset_index()

In [13]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...,...
3043,2022-08-01,903.830017,935.630005,885.000000,891.830017,891.830017,39014300
3044,2022-08-02,882.010010,923.500000,878.000000,901.760010,901.760010,31859200
3045,2022-08-03,915.000000,928.650024,903.450012,922.190002,922.190002,26697000
3046,2022-08-04,933.000000,940.820007,915.000000,925.900024,925.900024,24085400
3047,2022-08-05,908.010010,913.820007,856.630005,864.510010,864.510010,37655300